<div *ngIf="childSelectedRecipe">

<h3>{{childSelectedRecipe.directions[0]}}</h3>
<h3>Edit Recipe</h3>
<label>Enter New Directions:</label>
<input [(ngModel)]="childSelectedRecipe.directions[0]">
<input [(ngModel)]="childSelectedRecipe.directions[1]">

<br>
<label>Enter Deliciousness Rating (1-3):</label>
<br>
<input type="radio" [(ngModel)]="childSelectedRecipe.deliciousness" [value]="1"> Okay <br>
<input type="radio" [(ngModel)]="childSelectedRecipe.deliciousness" [value]="2"> Gucci <br>
<input type="radio" [(ngModel)]="childSelectedRecipe.deliciousness" [value]="3"> Delicioso!
<button (click)="finishedEditing()">Done</button>
</div>
