<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


  <h1>
    Welcome {{userName}}, to {{title}}! The current date is: {{ month }}/{{day}}/{{year}}
  </h1>

  <div *ngIf="enteredName">
  <form class="form-control">
    <label for="user">Enter your name:</label>
    <input [(ngModel)]="userName" type="text" name="user">
    <button (click)="finishedName()">Enter</button>

  </form>
</div>

  <img width="300" alt="Chef Logo" src="http://clipart-library.com/images/piqrERbrT.jpg">

  <app-recipe-list [childRecipeList]="masterRecipeList" (clickSender)="editRecipe($event)"></app-recipe-list>

  <app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()"></app-edit-recipe>

  <app-new-recipe (sendRecipe)="addRecipe($event)"></app-new-recipe>

<hr>
<button (click)="changeName()">Change Name</button>

</div>
